<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="NoOfBranches" value="2" />
		<add key="BranchPath_1" value="C:\AzureDevOpsWorkspaces\Leonardo_Integration\" />
		<add key="BranchPath_2" value="C:\AzureDevOpsWorkspaces\Leonardo_Feature_Feature5\" />
	</appSettings>
</configuration>
